@use '../base/variables' as *;
@use '../base/utils' as *;
@use '../base/queries' as *;

.full-width-split {
    display: flex;

    @include breakpoint-sm {
        flex-direction: column;
    }

    &__left {
        flex: 1;
        padding: 4rem 1rem;

        &--inner {
            width: 100%;
            max-width: 600px;
            margin-left: auto;
        }
    }

    &__right {
        flex: 1;
        background-color: var(--color-gray);
        padding: 4rem 1rem 4rem 2rem;

        &--inner {
            width: 100%;
            max-width: 600px;
        }
    }
}