@use '../base/utils' as *;
@use '../base/queries' as *;

.page-footer {
    padding: 2rem .25rem 1rem;
    background-color: var(--color-base);
    color: var(--color-white);

    p {
        margin: 0;
    }
    
    a:not(.btn) {
        color: var(--color-gray);

        &:hover {
            text-decoration: none;
        }
    }

    &__container {
        @include container();
        display: grid;
        grid-template-columns: 30% 20% 25% 25%;
        gap: 1.25rem;

        @include breakpoint-md {
            grid-template-columns:  1fr;
            text-align: center;
        }
    }

    &__nav {
        list-style: none;
    }

    &__bottom {
        @include container();
        margin-top: 1.25rem;

        p {
            font-size: var(--fs-small);
            text-align: center;
        }

    }
}