---
import BaseLayout from '../layouts/BaseLayout.astro';
import Section from '../components/Section.astro';
import CtaSection from '../components/CtaSection.astro';
import PageHeading from '../components/PageHeading.astro';
import AboutImages from '../components/AboutImages.astro';
---

<BaseLayout title='About Raven Heating & Cooling'>
    <PageHeading heading='About Raven Heating & Cooling' />
    <Section>
        <div class='columns'>
            <div class='two-thirds'>
                <p class='fs-medium'>
                    Raven Heating & Cooling is a family-owned and operated business located in Tucson, Arizona. Since we are a family-owned
                    business, we believe in treating you like family, too, We have set a standard on professionalism, quality, and customer
                    satisfaction. Here at Raven Heating & Cooling, your satisfaction and comfort are our top priority.
                </p>
                <p>
                    Raven Heating & Cooling has been providing HVAC repair and maintenance solutions right here in Tucson, AZ since 2010.
                    The owner, Matthew Uselton, has been working in the HVAC repair industry for more than 20 years, after learning his
                    trade from his grandfather - who was akso a technician and business owner in Tucson. Matthew's passion for helping
                    others and the many years tthat he has spent building his skills as a technician led him to want to build his own
                    company that is rooted in integrity.
                </p>
                <p>
                    Matthew's passion for waht he does - both in helping others and in repairing and maintaining HVAC systems - drives every
                    facet of his business. Raven Heating & Cooling puts you - the customer - first. We truly are committed to treating you
                    like a part of our family, and because of this, we offer unwavering support, quality service and workmanship, and a
                    satisfaction gaurantee that you are not likely to get from the "big guys".
                </p>
            </div>
            <div class='one-third'>
                <AboutImages />
            </div>
        </div>
    </Section>
    <CtaSection />
</BaseLayout>
