---
import BaseLayout from '../layouts/BaseLayout.astro';
import PageHeading from '../components/PageHeading.astro';
import Section from '../components/Section.astro';
import ServicesGrid from '../components/ServicesGrid.astro';
import Button, { BUTTON_VARIANTS } from '../components/Button.astro';
import Testimonials from '../components/Testimonials.astro';
import CtaSection from '../components/CtaSection.astro';
---

<BaseLayout title='Our Services | Raven Heating & Cooling'>
    <PageHeading heading='Our Services' />
    <Section>
        <div class='container'>
            <p class='fs-medium'>
                Raven heating & Cooling is a full-service HVAC repair and maintenance company. We offer solutions for all of your heating
                and cooling needs.
            </p>
            <ServicesGrid />
            <br />
            <div class='text-center'>
                <Button isLink isOutline variant={BUTTON_VARIANTS.DARK} href='/contact' text='Request Service Today' />
            </div>
        </div>
    </Section>
    <CtaSection />
    <Testimonials title='Client Testimonials' />
</BaseLayout>
