:root {
    --color-black: #000;
    --color-base: #333;
    --color-gray: #C6C6C6;
    --color-gray-accent: #E5E5E5;
    --color-white: #FFF;
    --color-brand-secondary: #FFCC33;
    --color-brand-primary: #CD3F2D;
    --color-brand-tertiary: #0099CC;
}