// BREAKPOINTS
$breakpoint-xs: 400px;
$breakpoint-sm: 768px;
$breakpoint-md: 1024px;
$breakpoint-mh: 1170px;
$breakpoint-lg: 1600px;
$breakpoint-xl: 1920px;
$breakpoint-xxl: 2250px;

$content-wide-width: 1200px;
$content-narrow-width: 864px;
